@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Zen+Kurenaido&display=swap");

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: #f1f1f1;
  font-family: Microsoft JhengHei;
}

/* 讓圖片有滑動感覺 */
.parallax {
  /* The image used */
  background: url("https://ireneshen01.github.io/wedding_page/images/wedding2.jpg");
  width: 100%;
  /* Set a specific height */
 min-height: 500px;
  /* Create the parallax scrolling effect */
 /* background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 牽手圖片 */
.hero-img {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);
  color: white;
}

/* 牽手圖片下面的文字標題 */
.hero-text1 {
  font-family: "Nanum Pen Script", cursive;
  font-size: 50px;
  text-align: center;
  position: relative;
  /* top: 60%; */
  left: 50%;
  transform: translate(-50%, -45%);
  color: white;
}

/* 以下是精選照片播放的設定 */
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* 以下為婚禮資訊的對話框 */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

#user {
  float: left;
  max-width: 80px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

/* 以下為婚禮倒數背景滑動感 */
.parallax_2 {
  /* The image used */
  background: url("https://ireneshen01.github.io/wedding_page/images/ctdn2.jpg");
  max-width: 100%;
  /* Set a specific height */
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* 倒數計時設定 */
.timer {
  margin: auto;
  width: 90px;
  background: rgb(255, 255, 255);
  text-align: center;
  /* border-radius: 10px; */
  cursor: pointer;
}

.timer p {
  color: #4f4f4f;
  font-size: 2em;
  margin: auto;
}

.timer h6 {
  margin: auto;
  padding: 5px;
  color: rgb(36, 35, 35);
  font-size: 1em;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}
